@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #e0a80d;
  --greyDark: #7d8792;
  --headingColor: #2d2e2e;
  --white: #fff;
  --black: #000;
  --sliver: #bac8d3;
}
body {
  background-color: var(--headingColor);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}
a {
  color: var(--greyDark);
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    color: var(--primaryColor);
  }
}
p {
  color: var(--sliver);
  font-size: 15px;
  line-height: 30px;
  margin: 20px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.container {
  max-width: 80%;
  margin: auto;
}
@media (max-width: 570) {
  .container {
    max-width: 100%;
  }
}
.flexsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
button {
  border: none;
  outline: none;
  background-color: var(--primaryColor);
  color: var(--white);
  padding: 15px 50px;
  border-radius: 50px;
  cursor: pointer;
}
.primaryBtn {
  background: none;
  border: 2px solid var(--primaryColor);
  transition: 0.5s;
  &:hover {
    background: var(--primaryColor);
  }
}
/*------------header------------*/
header {
  background-color: var(--headingColor);
  height: 10vh;
  width: 100%;
  line-height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    margin-left: 40px;
  }
  .toggle {
    cursor: pointer;
    color: var(--white);
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 90%;
    margin: auto;
  }
  header {
    .nav {
      display: none;
    }
    a {
      width: 100%;
      display: block;
      color: var(--white);
      margin-left: 0px;
      text-align: center;
      font-size: 18px;
    }
    a:not(:last-child) {
      border-bottom: 1px solid var(--headingColor);
    }
    .toggle {
      display: block;
      background: none;
    }
    .toggle .icon {
      font-size: 35px;
    }
    .hideMenu {
      display: block;
      position: absolute;
      top: 10vh;
      right: 0;
      width: 45%;
      padding: 0px 15px;
      margin: 5px 15px;
      border-radius: 10px;
      background-color: var(--greyDark);
    }
  }
}
/*------------header------------*/
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
/*------------hero------------*/
.hero {
  position: relative;
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../public/images/home-bg.png");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 90vh;
}
.heroContainer {
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.hero h1 {
  font-size: 60px;
  font-weight: 600;
  color: var(--primaryColor);
}

@media (max-width: 1024px) {
  .hero h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .heroContainer {
    max-width: 80%;
  }
  .hireMeBtn {
    display: none;
  }
}
@media (max-width: 570px) {
  .hero h1 {
    font-size: 24px;
  }
}
/*------------hero------------*/
.heading {
  font-size: 30px;
  color: var(--primaryColor);
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}
/*------------about------------*/
.about .heading {
  text-align: left;
  margin: 0;
}
.left {
  width: 35%;
}
.right {
  width: 65%;
}
@media (max-width: 1245px) {
  .about .right {
    margin-left: 80px !important;
  }
}
@media (max-width: 768px) {
  .about .left {
    display: none;
  }
}
@media (max-width: 570px) {
  .about-p2 {
    display: none;
  }
  .about .right {
    margin-left: 0px !important;
  }
}
/*------------about------------*/
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
/*------------Services------------*/
.services {
  height: auto !important;
}
.services .box {
  background-color: var(--primaryBackground);
  padding: 35px;
  i {
    color: var(--primaryColor);
  }
  h3 {
    margin-top: 20px;
  }
}
/*------------Services------------*/
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  height: 50vh;
  place-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 570px) {
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*------------Counter------------*/
.counter {
  height: auto;
  margin-top: 80px;
  position: relative;
  h1 {
    margin: 0;
  }
}
.hero.counter::after {
  background-image: url("/public/images/some-facts-bg.png");
  height: 50vh;
}
@media (max-width: 768px) {
  .counter {
    display: none;
  }
}
/*------------Counter------------*/

/*------------Portfolio Images------------*/
article {
  margin-top: 50px;
  margin-bottom: 80px;
  img {
    width: 100%;
    height: 100%;
  }
  .box {
    position: relative;
    transition: 0.5s;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
    opacity: 0;
  }
  .overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
  }
  .box:hover .overlay,
  .box:hover .overlay::after {
    opacity: 1;
  }
  .catButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 40px 0;
  }
  .catButton button {
    text-transform: capitalize;
    margin-right: 20px;
  }
}
/*------------Portfolio Images------------*/

/*------------testimonials------------*/
.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .box {
    max-width: 60%;
    margin: auto;
  }
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid var(--primaryColor);
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-size: cover;
      object-fit: cover;
    }
  }
  i {
    background-color: var(--white);
    font-size: 20px;
    padding: 15px;
    margin: 30px 0;
    display: inline-block;
    color: var(--primaryColor);
  }
}
label {
  color: var(--primaryColor);
  margin: 10px 0;
  display: inline-block;
}
.testimonial.hero {
}
.testimonial::after {
  height: 100% !important;
  background-image: url("/public/images/testimonials-bg.png");
}
/*------------testimonials------------*/

/*------------Blog------------*/
.blog {
  height: auto !important;
}
.blog img {
  width: 100%;
}
.blog .box {
  background-color: var(--primaryBackground);
  border-radius: 10px;
}
.blog .text {
  padding: 10px 30px;
}
/*------------Blog------------*/

/*------------contact------------*/
.contact {
  height: 100vh !important;
  margin: 20px 0;
}
.contact .right,
.contact .left {
  padding: 20px;
}
.contact .flex input:first-child {
  margin-right: 10px;
}
.contact button,
.contact textarea,
.contact input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
}
.contact textarea {
  resize: none;
  min-height: 200px;
}
@media (max-width: 768px) {
  .contact {
    height: auto !important;
    margin: 0px;
  }
  .contact .flexsb {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contact .right,
  .contact .left {
    width: 100%;
  }
}
/*------------contact------------*/
/*------------Footer------------*/
footer {
  text-align: center;
  background-color: var(--primaryBackground);
  padding: 70px;
  margin-top: 50px;
}
footer a {
  margin: 5px;
}
/*------------Footer------------*/
